@charset "utf-8";
/* CSS Document */

#main_top_container{
	height:300px;
	width:100vw;
	display:block;
	background:url('../img/competitions_banner_bg.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
}

#pad{
	height:110%;
	width:300px;
	display:block;
	position:absolute;
	z-index:-99;
	float:right;
	right:0;
	margin:-100px auto;
	background:url('../img/pad.png');
	background-size:auto;
	background-position:top right;
	background-repeat:no-repeat;
}

#comps_text{
	text-align:center;
}

.comp_text_bold{
	font-weight:bold;
}


.comp_text_title{
	font-size:25px;
	color:#D89770;
}

#tandc_01{
  -moz-transition:height .5s;
  -ms-transition:height .5s;
  -o-transition:height .5s;
  -webkit-transition:height .5s;
  transition:height .5s;
  height:0;
  overflow:hidden;
}

#tandc_01 p{
	font-size:14px;
	line-height:17px;
	text-align:justify;
	margin:0 auto;
	padding:0;
}

#clickhere{
	color:#369;
}

#clickhere:hover{
	cursor:pointer;
}

/** Media Queries **/
@media screen and (max-width:1090px){
#main_top_container{
	background:url('../img/competitions_banner_bg_sml.png');
	background-size:cover;
}

#pad{
	display:none;
}
}

@media screen and (max-width:850px){
#main_top_container{
	height:200px;	
}
}

@media screen and (max-width:720px){
#main_top_container{
	height:150px;	
}
}