@charset "utf-8";
/* CSS Document */
#header{
	height:65px;
	top:0;
	width:100vw;
    z-index:100;
    position:fixed;	
	background-color:#0e2343;
	display:block;
	padding:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

#members_btn, #school_btn{
	height:60%;
	margin-right:0;
	width:100px;
	display:table;	
	border:solid 2px #FFF;
	border-radius:25px;
	padding:0;
	transition:all 0.3s ease 0s;	
	float:right;
	margin-top:20px;
}

#school_btn{
	margin-left:15px;	
}

#members_btn:hover, #school_btn:hover{
	background:rgba(255, 255, 255, 0.25); 
	transition:all 0.3s ease 0s;	
}

#members_btn a, #school_btn a{
	text-decoration:none;
	outline:none;
	padding:4px;
	margin:0;
	height:100%;	
	width:100%;
	font-size:10px;
	color:#FFF;
	text-align:center;
	display:table-cell; 
	vertical-align:middle; 
	text-align:center;
}

#sign_up_btn{
	height:60%;
	margin-right:20px;
	width:100px;
	display:table;	
	border:solid 1px #FFF;
	background:rgba(255, 255, 255, 0.15); 	
	padding:0;
	transition:all 0.3s ease 0s;	
	float:right;
	margin-top:8px;
}

#sign_up_btn:hover{
	background:rgba(255, 255, 255, 0.25); 	
}

#sign_up_btn a{
	text-decoration:none;
	outline:none;
	padding:4px;
	margin:0;
	height:100%;	
	width:100%;
	font-size:10px;
	color:#FFF;
	text-align:center;
	display:table-cell; 
	vertical-align:middle; 
	text-align:center;
}

.header_text{
	display:inline-block;
	color:#b3b3b3;
	line-height:40px;
	font-size:13px;
	padding:0;
	float:right;
	font-weight:bold;
	margin:0px;
}

.header_text a{
	outline:none;
	text-decoration:none;
	padding:0;
	margin:0;
	transition:all 0.3s ease 0s;
	color:#b3b3b3;
}

.header_text a:hover{
	color:#FFF;	
}

#main-menu-demo-btn{
    margin-top:75px;
}

#mobile_menu{
	opacity:0;
	height:20px;
	width:0px;
	margin:0;
	float:right;
	padding:0;
	background-image:url('../img/mobile_btn.png');
	background-repeat:no-repeat;
	cursor:pointer;
  	transition:opacity 0.25s ease-in-out;
   	-moz-transition:opacity 0.25s ease-in-out;
   	-webkit-transition:opacity 0.25s ease-in-out;
	-o-transition:opacity 0.25s ease-in-out;
 	transition-delay:0.25s;	
	-webkit-transition-delay:0.25s; 
   	-moz-transition-delay:0.25s;
	-o-transition-delay:0.25s;
    transition:width 0.25s;
    -moz-transition:width 0.25s;
    -webkit-transition:width 0.25s;
    -o-transition:width 0.25s;
}

.mobile_dropdown{
	margin-top:32px;
	right:5%;
	position:absolute;
	width:auto;
	height:auto;
	padding:10px 0 10px 0;
	background:#FFFFFF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:#b7b7b7 solid 1px;
	z-index:9999999999;
	display:none;
	-webkit-box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);
	box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);	
	cursor:default;
}

.mobile_dropdown a{
	text-decoration:none;
	outline:none;
	color:#585858;
	font-size:12px;
	line-height:30px;
	padding:0 20px 0 20px;
	text-align:left;
	height:30px;
	display:block;
}

.mobile_dropdown a:hover{
	text-decoration:none;
	color:#000;
}

.mobile_dropdown a:visited{
	text-decoration:none;
}

.mobile_nav_item_hidden{
	display:none;	
}

#mobile_nav_expanded{
    display:none;
}

.mobile_nav_expand_arrow{
    display:inline-block;
    width:10px;
    height:7px;
    padding:0;
    margin:0 0 0 5px;
    background-image:url(../img/mobile_nav_expand.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right top;
}

#scrolled_nav{
	display:none;
	float:left;
  	transition:opacity 0.25s ease-in-out;
   	-moz-transition:opacity 0.25s ease-in-out;
   	-webkit-transition:opacity 0.25s ease-in-out;
	-o-transition:opacity 0.25s ease-in-out;
 	transition-delay:0.25s;	
	-webkit-transition-delay:0.25s; 
   	-moz-transition-delay:0.25s;
	-o-transition-delay:0.25s;
}

.scrolled_nav_item{
	height:20px;
	margin:18px 10px 0 10px;
	float:left;
	display:inline-block;
	padding:0;
}

.scrolled_nav_item_last{
	margin-right:0px;
}

.scrolled_nav_item a{
	text-decoration:none;
	outline:none;
	padding:0;
	margin:0;
	height:20px;	
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	line-height:12px;
	text-align:left;
}

.scrolled_nav_item a:hover{
	color:#3CF;
	transition:all 0.5s ease 0s;
}

#scrolled_logo{
	height:60px;
	width:155px;
	display:block;
	margin-right:10px;
	margin-top:0px;
	float:left;
	padding:0;
	background-image:url('../img/scrolled_logo_lrg.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}

#scrolled_nav.scrolled_nav_opacity{
	display:block;
}

.scrolled_nav_dropdown{
    display:none;
    position:absolute;
    width:190px; 
}

.scrolled_nav_dropdown .scrolled_nav_sub_item:hover{
    transition:all 0.3s ease 0s;
    background-color:rgba(255, 255, 255, 0.2);
}

/** Sub-items that appear when main nav button hovered over**/
.scrolled_nav_sub_item{
    box-sizing:border-box;
    color:#ffff;
    text-decoration:none;
	outline:none;
    margin-top:5px;
}

.scrolled_nav_sub_item a{
    display:block;
    box-sizing:border-box;
    padding:10px 0 10px 10px;
    font-weight:normal;
    text-align:left;
    height:auto;
}

.scrolled_nav_sub_item a:hover{
	color:#FFF;
	transition:all 0.3s ease 0s;	
    cursor:pointer;
    border-bottom:none;
    padding-left:7px;
}
/* Scrolled nav dropdown display */
#sn4:hover .scrolled_nav_dropdown{
    display:block;
    background:#0e2343;
}

#sn2:hover .scrolled_nav_dropdown{
    display:block;
    background:#0e2343;
}

#sn6:hover .scrolled_nav_dropdown{
    display:block;
    background:#0e2343;
}

#sn5:hover .scrolled_nav_dropdown{
    display:block;
    background:#0e2343;
}
/*****/

/** Media Queries **/
@media screen and (max-width:1560px){
.scrolled_nav_item{
    margin-left:7px;
    margin-right:7px;
    margin-top:20px;
}
}

@media screen and (max-width:1500px){
#scrolled_logo{
	margin-top:5px;
	background-image:url('../img/scrolled_logo_lrg.png');
}

#mobile_menu.mobile_menu_opacity{
	display:inline-block;	
	width:20px;	
	opacity:1;
	margin:22px 0 0 10px;	
}

#mobile_menu:hover{
	background-position:0 -20px;
}

.mobile_dropdown{
	margin-top:32px;
	right:5%;
	position:absolute;
	width:auto;
	height:auto;
	padding:10px 0 10px 0;
	background:#FFFFFF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:#b7b7b7 solid 1px;
	z-index:9999999999;
	display:none;
	-webkit-box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);
	box-shadow:0px 2px 8px 4px rgba(0,0,0,0.2);	
	cursor:default;
}


.mobile_dropdown a{
	text-decoration:none;
	outline:none;
	color:#585858;
	font-size:12px;
	line-height:30px;
	padding:0 20px 0 20px;
	text-align:left;
	height:30px;
	display:block;
}

.mobile_dropdown a:hover{
	text-decoration:none;
	color:#000;
	
}

.mobile_dropdown a:visited{
	text-decoration:none;
}

.mobile_nav_item_hidden{
	display:none;	
}

.mobile_nav_dropdown{
    display:none;
    background:#f5f5f5;
}
    
#sign_up_btn{
	margin-right:10px;
}

#members_btn, #school_btn{
	margin-left:10px;
    margin-top:20px;
}

#sn1, #sn2, #sn3, #sn4, #sn5, #sn6, #sn7{
	display:none;
}
}

@media screen and (max-width:1250px){
#main_button_container{
	height:130px;
	width:90%;
	margin-top:45px;
}

.scrolled_nav_item a{
	font-size:10px;
}

#sn1_sub,
#sn2_sub,
#sn3_sub,
#sn6_sub,
#sn7_sub,
#sn8_sub{
	display:none;	
}

#mobile_menu{
	opacity:1;
	height:20px;
	width:20px;
	margin:23px 0 0 10px;
	background-size:cover;
	background-image:url('../img/mobile_btn_lrg.png');
}

#mobile_menu.mobile_menu_opacity{
	display:inline-block;
	width:20px;	
	opacity:1;
	width:20px;	
}

#mobile_menu:hover{
	background-position:0 100%;
}

.mobile_dropdown{
	margin-top:30px;
	right:2%;
}

#home_logo_sub, .main_menu_nav_item{
	display:none;
}

#home_logo{
	width:300px;
	height:100px;
}

#members_btn, #school_btn{
	margin-right:10px;
}    
}

@media screen and (max-width:1200px){
.scrolled_nav_item{
	margin:7px 15px 0 15px;
}

.scrolled_nav_item a{	
	font-size:10px;
}
}

@media screen and (max-width:1120px){
.mobile_dropdown{
	right:3.5%;
}

.main_menu_nav_item{
	margin:80px 7px 0 7px;
}

.main_menu_nav_item_last{
	margin-right:0;
}  
}

@media screen and (max-width:1100px){

}

@media screen and (max-width:800px){
#header{
	height:70px;
}

.header_text{
	line-height:70px;
	font-size:13px;
}

#header_phone_text{
	margin-right:15px;
}

#header_login_icon{
	height:70px;
	width:20px;
	margin:0 5px 0 20px;
}

#sign_up_btn{
	display:none;
}

#members_btn, #school_btn{
	display:none;
}

.mobile_nav_item_hidden{
	display:block;
}

.mobile_nav_item_hr{
	width:80%;
    border:0;
    height:0;
	margin-bottom:10px;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(255, 255, 255, 0.3);	
}

#scrolled_nav{
	opacity:1;
}

#scrolled_logo{
	margin-top:0;
	height:70px;
	background-position:center;
}

#mobile_menu{
	opacity:1;
	height:30px;
	width:30px;
	background-image:url('../img/mobile_btn_lrg.png');
	margin:20px 5% 0 0; 
}

#mobile_menu.mobile_menu_opacity{
	display:inline-block;	
	width:30px;	
	opacity:1;
	margin:20px 5% 0 0; 
}

#mobile_menu:hover{
	background-position:0 100%;
}

.mobile_dropdown{
	margin-top:42px;
	right:8%;
}

#home_logo, #home_logo_sub, .main_menu_nav_item{
	display:none;
}
}

@media screen and (max-width:720px){
#header{
	height:40px;
}

.header_text{
	line-height:40px;
	font-size:10px;
}

#header_phone_text{
	margin-right:15px;
}

#header_login_icon{
	height:40px;
	width:20px;
	margin:0 5px 0 20px;
}

#scrolled_logo{
	height:27px;
	background-position:center left;
	margin-top:6px;
	width:220px;
	margin-left:10px;
}

#mobile_menu{
	height:20px;
	width:20px;
	margin:10px 2% 0 0;
	background-size:cover;
}

#mobile_menu.mobile_menu_opacity{
	width:20px;	
	margin:10px 2% 0 0; 
}

.mobile_dropdown{
	margin-top:30px;
	right:2%;
}
}