@charset "utf-8";
/* CSS Document */

a{
	outline:none;
}


body{
	margin:0 auto;
	padding:0;
	background-image:url('../img/bg.png');
	background-repeat:repeat-x;
	background-attachment:fixed;
}


#aplus_swirl{
	height:300px;
	width:100%;
	position:absolute;	
	z-index:9;
	margin-top:15px;
	background-image:url('../img/aplus_swirl.png');
	background-size:100% 300px;
	background-repeat:no-repeat;	
	background-position:center;
}


#aplus_bigger{
	margin:0 auto;
	height:300px;
	width:960px;
	background-image:url('../img/big_aplus.png');
	background-repeat:no-repeat;
}


#container{
	height:3050px;
	width:1000px;
	margin:0 auto;
	background-image:url('../img/content_bg.png');
	background-repeat:repeat-y;
}


#content{
	height:3050px;
	width:600px;
	margin:0 auto;
	background-color:#FFF;
	margin-left:200px
}


#intro{
	height:160px;
	width:600px;
	float:left;
	margin:10px 0px 15px 0px;
	border-bottom:dashed 1px #BEBEBE;	
}


p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:18px;
	color:#333;
	padding:0px;
}


.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:45px;
	color:#333;	
	padding:0px;
}


#table1{
	height:830px;
	width:600px;
	float:left;
	border-bottom:dashed 1px #BEBEBE;	
	margin-bottom:55px;
}
	

#table_left{
	height:820px;
	width:230px;
	float:left;
}


#table_right{
	height:820px;
	width:350px;
	float:right;
}
	
	
#img_box1{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/1.png');
	background-repeat:no-repeat;
}


#img_box2{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/2.png');
	background-repeat:no-repeat;
}


#img_box3{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/3.png');
	background-repeat:no-repeat;
}


#img_box4{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/4.png');
	background-repeat:no-repeat;
}


#img_box5{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/5.png');
	background-repeat:no-repeat;
}


#img_box6{
	height:136px;
	width:230px;
	float:left;
	background-image:url('../img/6.png');
	background-repeat:no-repeat;
}	
	
	
.text_box{
	height:126px;
	width:330px;
	float:left;
	margin:5px 0px 5px 0px;
	padding-left:10px;
	padding-right:10px;	
	border-bottom:solid 1px #F5F5F5;
}
	
	
.text_box p{
	text-align:left;
}		
	

#tc{
	height:1450px;
	width:560px;
	float:left;
	margin-left:20px;
}


li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#333;
	padding:0px;
}


.tc_title{
	text-align:left;
	font-weight:bold;
}



#print_div{
	height:45px;
	width:600px;
	float:left;
	background-color:#F3F3F3;
	margin-top:340px;
}


#print_div_bottom{
	height:45px;
	width:600px;
	float:left;
	margin-top:20px;
	background-color:#F3F3F3;
}


#print{
	height:25px;
	width:87px;
	float:left;
	margin:10px 0px 0px 10px;
	background-image:url('../img/savepage_btn.png');
	background-repeat:no-repeat;
	outline:none;
}


#btt{
	height:25px;
	width:87px;
	float:right;
	margin:10px 10px 0px 0px;
	background-image:url('../img/btt_btn.png');
	background-repeat:no-repeat;
	outline:none;
}


#ke{
	height:50px;
	width:600px;	
	display:none;
	margin:100px 0px 10px 0px;
	float:none;
}


.title_ke{
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	line-height:50px;
	color:#333;	
	padding:0px;	
}









	
	
	
	